In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
!wget wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz -O - | gzip -d > output.csv

--2025-01-22 16:35:05--  http://wget/
S'està resolent wget (wget)… error: nodename nor servname provided, or not known.
wget: no s'ha pogut resoldre l'adreça del servidor ««wget»»
--2025-01-22 16:35:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
S'està resolent github.com (github.com)… 140.82.121.4
S'està connectant a github.com (github.com)|140.82.121.4|:443… connectat.
HTTP: s'ha enviat la petició, s'està esperant una resposta… 302 Found
Ubicació: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250122T153352Z&X-Amz-Expires=300&X-Amz-Signature=ed688b49eefc7e13802f45fcd693378669fe400a6c2b3475a182f056dcb1a988&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [es segueix]
--2025-01-22 16:35:05--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250122T153352Z&X-Amz-Expires=300&X-Amz-Signature=ed688b49eefc7e13802f45fcd693378669fe400a6c2b3475a182f056dcb1a988&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
S'està resolent objects.githubusercontent.com (objects.githubusercontent.com)… 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
S'està connectant a objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443… connectat.
HTTP: s'ha enviat la petició, s'està esperant una resposta… 200 OK
Mida: 8262584 (7,9M) [application/octet-stream]
S'està desant a: «STDOUT»

-                   100%[===================>]   7,88M  44,6MB/s    in 0,2s

2025-01-22 16:35:05 (44,6 MB/s) - escrit a la sortida estàndard [8262584/8262584]

FINALITZAT --2025-01-22 16:35:05--
Temps total real: 0,8s
Baixat: 1 fitxers, 7,9M en 0,2s (44,6 MB/s)

In [4]:
df = pd.read_csv('./output.csv', nrows=100)

In [5]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

In [6]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [7]:
# we need to transform some fields to datetime
df.lpep_pickup_datetime =  pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [8]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In order to create a DDL that is specific for Postgres we need to connect to the database

In [9]:
from sqlalchemy import create_engine
# $ brew install postgresql
# $ conda activate my_env
# $ pip install psycopg2-binary sqlalchemy

In [10]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

Now we are going to do the insert by batches

In [12]:
df_iter = pd.read_csv('output.csv',iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [14]:
df.lpep_pickup_datetime =  pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [15]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

pgcli: describe yellow_taxi_data

In [16]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 3.07 s, sys: 104 ms, total: 3.17 s
Wall time: 5.43 s

1000

select count(*) from yellow_taxi_data;

In [17]:
from time import time 
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime =  pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 5.466 seconds
inserted another chunk..., took 5.609 seconds

/var/folders/28/yd646k355l1cdczjv0hlsjz00000gn/T/ipykernel_41912/3300553842.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 5.511 seconds
inserted another chunk..., took 3.885 seconds

StopIteration:

# Question 1

```bash
docker run -it --entrypoint=bash python:3.12.8
Unable to find image 'python:3.12.8' locally
3.12.8: Pulling from library/python
ded9ddaf4f92: Download complete 
e05e1469c731: Download complete 
Digest: sha256:5893362478144406ee0771bd9c38081a185077fb317ba71d01b7567678a89708
Status: Downloaded newer image for python:3.12.8
root@3f3f1ec4b7ae:/# pip --version
pip 24.3.1 from /usr/local/lib/python3.12/site-packages/pip (python 3.12)
```

### Answer to Question 1: 24.3.1

# Question 2 

```yaml
services:
  db:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'ny_taxi'
    ports:
      - '5433:5432'
    volumes:
      - vol-pgdata:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin@pgadmin.com"
      PGADMIN_DEFAULT_PASSWORD: "pgadmin"
    ports:
      - "8080:80"
    volumes:
      - vol-pgadmin_data:/var/lib/pgadmin  

volumes:
  vol-pgdata:
    name: vol-pgdata
  vol-pgadmin_data:
    name: vol-pgadmin_data

```

hostname and port that pgadmin should use to connect to the postgres database?

### Answer is db:5432

# SQL Question 3

```SQL
select 
	case 
		when trip_distance <= 1 then '<=1'
		when trip_distance > 1  and trip_distance <= 3 then '1-3'
		when trip_distance > 3  and trip_distance <= 7 then '3-7'
		when trip_distance > 7  and trip_distance <= 10 then '7-10'
		else '>10'
		end as segment
	, count(index )
from 
green_taxi_data
group by 1
order by 1;
```






### Answer 
104,838; 199,013; 109,645; 27,688; 35,202

# Question 4 

```SQL
select 
	date_trunc('day',lpep_pickup_datetime)
	, max(trip_distance)
from 
	green_taxi_data
where 
	date_trunc('day',lpep_pickup_datetime) in ('2019-10-11 00:00:00','2019-10-24 00:00:00','2019-10-26 00:00:00','2019-10-31 00:00:00')
group by 1
order by 2 desc;
```

Output:

10-26 91.56
10-31 515.89
10-11 95.78
10-24 90.75

### answer is 2019-10-31

# Question 5 

```SQL
select 
	z."Zone"
	, sum(total_amount)
from 
	green_taxi_data g
	join zones z 
		on z."LocationID" = g."PULocationID"
where 
	date_trunc('day',lpep_pickup_datetime) = '2019-10-18 00:00:00'
	
group by 1
having sum(total_amount) > 13000
order by 2 desc;
````

Output:

* "Zone","sum"
* "East Harlem North","18686.680000000088"
* "East Harlem South","16797.260000000075"
* "Morningside Heights","13029.790000000039"


### Answer is East Harlem North, East Harlem South, MOrningside Heights

# Question 6 

```SQL
select 
	z2."Zone"
	, max(tip_amount)
from 
	green_taxi_data g
	join zones z1 
		on z1."LocationID" = g."PULocationID"
	join zones z2 
		on z2."LocationID" = g."DOLocationID"
where 
	z1."Zone" = 'East Harlem North'
group by 1
order by 2 desc;
````

Output:

* JFK Airoprt 87.3
* Yorkville West 80.88
* East Harlem North 40 

### Answer is JFK Airport

# Question 7

Which of the following sequences, respectively, describes the workflow for:

Downloading the provider plugins and setting up backend,
Generating proposed changes and auto-executing the plan
Remove all resources managed by terraform`

Answers:

terraform import, terraform apply -y, terraform destroy
teraform init, terraform plan -auto-apply, terraform rm
terraform init, terraform run -auto-approve, terraform destroy
terraform init, terraform apply -auto-approve, terraform destroy
terraform import, terraform apply -y, terraform rm


## Answer: 
Sources:
* [](https://github.com/DataTalksClub/data-engineering-zoomcamp/tree/main/01-docker-terraform/1_terraform_gcp/terraform)
* [](https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/01-docker-terraform/1_terraform_gcp/1_terraform_overview.md)

I only see terraform init (not import). 
Then terraform destroy to remove the infra. 

The only question left is 
* terraform plan:
    * Matches/previews local changes against a remote state, and proposes an Execution Plan.
* terraform apply:
    * Asks for approval to the proposed plan, and applies changes to cloud


## Answer: terraform apply --auto-aprove 
As explained here [](https://developer.hashicorp.com/terraform/cli/commands/apply) the command will plan on your behalf, auto approve the plan and act accordingly