In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [5]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-01-22 16:14:51--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
S'està resolent d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)… 18.172.223.120, 18.172.223.187, 18.172.223.180, ...
S'està connectant a d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.172.223.120|:443… connectat.
HTTP: s'ha enviat la petició, s'està esperant una resposta… 200 OK
Mida: 12331 (12K) [text/csv]
S'està desant a: «taxi_zone_lookup.csv.2»

taxi_zone_lookup.cs 100%[===================>]  12,04K  --.-KB/s    in 0s

2025-01-22 16:14:51 (5,74 GB/s) - s'ha desat «taxi_zone_lookup.csv.2» [12331/12331]

In [6]:
df = pd.read_csv('./taxi_zone_lookup.csv')

In [7]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [8]:
print(pd.io.sql.get_schema(df, name='zones'))

CREATE TABLE "zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [9]:
from sqlalchemy import create_engine
# $ brew install postgresql
# $ conda activate my_env
# $ pip install psycopg2-binary sqlalchemy

In [10]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [11]:
%time df.to_sql(name='zones', con=engine, if_exists='replace')

CPU times: user 34.3 ms, sys: 21.2 ms, total: 55.5 ms
Wall time: 115 ms

265